lab5/station-ws/src/main/resources/station.1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
    WSDL contract for a Binas Station service.

    This WSDL defines the operations provided by the Web Service, and should not be modified.

    For more information, see sections
    wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:tns="http://ws.station.binas.org/"
    targetNamespace="http://ws.station.binas.org/"
    name="StationWebService">
    <types>
        <xs:schema targetNamespace="http://ws.station.binas.org/"
            version="1.0">

            <!-- main service operations data types -->

            <xs:complexType name="coordinatesView">
                <xs:sequence>
                    <xs:element name="x" type="xs:int" />
                    <xs:element name="y" type="xs:int" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="stationView">
                <xs:sequence>
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="coordinate" type="tns:coordinatesView" />
                    <xs:element name="capacity" type="xs:int" />
                    <xs:element name="totalGets" type="xs:int" />
                    <xs:element name="totalReturns" type="xs:int" />
                    <xs:element name="availableBinas" type="xs:int" />
                    <xs:element name="freeDocks" type="xs:int" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getInfo">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="getInfo" type="tns:getInfo" />

            <xs:complexType name="getInfoResponse">
                <xs:sequence>
                    <xs:element name="stationInfo" type="tns:stationView" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getInfoResponse" type="tns:getInfoResponse" />

            <xs:complexType name="getBina">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="getBina" type="tns:getBina" />

            <xs:complexType name="getBinaResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="getBinaResponse" type="tns:getBinaResponse" />

            <xs:complexType name="returnBina">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="returnBina" type="tns:returnBina" />

            <xs:complexType name="returnBinaResponse">
                <xs:sequence>
                    <xs:element name="returnBina" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="returnBinaResponse" type="tns:returnBinaResponse" />

            <xs:complexType name="NoBinaAvail">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoBinaAvail" type="tns:NoBinaAvail" />

            <xs:complexType name="NoSlotAvail">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoSlotAvail" type="tns:NoSlotAvail" />


            <!-- test control operations data types -->

            <xs:complexType name="test_ping">
                <xs:sequence>
                    <xs:element name="input_message" type="xs:string"
                        minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_ping" type="tns:test_ping" />

            <xs:complexType name="test_ping_response">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_ping_response" type="tns:test_ping_response" />

            <xs:complexType name="test_clear">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_clear" type="tns:test_clear" />

            <xs:complexType name="test_clear_response">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_clear_response" type="tns:test_clear_response" />

            <xs:complexType name="test_init">
                <xs:sequence>
                    <xs:element name="x" type="xs:int" />
                    <xs:element name="y" type="xs:int" />
                    <xs:element name="capacity" type="xs:int" />
                    <xs:element name="return_prize" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_init" type="tns:test_init" />

            <xs:complexType name="test_init_response">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_init_response" type="tns:test_init_response" />

            <xs:complexType name="BadInit">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="BadInit" type="tns:BadInit" />

        </xs:schema>
    </types>

    <!-- Messages (use elements defined in the schema) -->

    <!-- main service messages -->
    <message name="getInfo">
        <part name="parameters" element="tns:getInfo" />
    </message>
    <message name="getInfoResponse">
        <part name="parameters" element="tns:getInfoResponse" />
    </message>

    <message name="getBina">
        <part name="parameters" element="tns:getBina" />
    </message>
    <message name="getBinaResponse">
        <part name="parameters" element="tns:getBinaResponse" />
    </message>

    <message name="returnBina">
        <part name="parameters" element="tns:returnBina" />
    </message>
    <message name="returnBinaResponse">
        <part name="parameters" element="tns:returnBinaResponse" />
    </message>

    <message name="NoSlotAvail">
        <part name="fault" element="tns:NoSlotAvail" />
    </message>
    <message name="NoBinaAvail">
        <part name="fault" element="tns:NoBinaAvail" />
    </message>

    <!-- test control messages -->
    <message name="test_ping">
        <part name="parameters" element="tns:test_ping" />
    </message>
    <message name="test_ping_response">
        <part name="parameters" element="tns:test_ping_response" />
    </message>

    <message name="test_clear">
        <part name="parameters" element="tns:test_clear" />
    </message>
    <message name="test_clear_response">
        <part name="parameters" element="tns:test_clear_response" />
    </message>

    <message name="test_init">
        <part name="parameters" element="tns:test_init" />
    </message>
    <message name="test_init_response">
        <part name="parameters" element="tns:test_init_response" />
    </message>

    <message name="BadInit">
        <part name="fault" element="tns:BadInit"/>
    </message>


    <!-- Port Type (Interface) -->
    <portType name="StationPortType">
        <!-- main service operations -->
        <operation name="getInfo">
            <input wsam:Action="http://ws.station.binas.org/Station/getInfoRequest"
                message="tns:getInfo" />
            <output wsam:Action="http://ws.station.binas.org/Station/getInfoResponse"
                message="tns:getInfoResponse" />
        </operation>

        <operation name="getBina">
            <input wsam:Action="http://ws.station.binas.org/Station/getBinaRequest"
                message="tns:getBina" />
            <output wsam:Action="http://ws.station.binas.org/Station/getBinaResponse"
                message="tns:getBinaResponse" />
            <fault message="tns:NoBinaAvail" name="NoBinaAvail"
                wsam:Action="http://ws.station.binas.org/Station/getBina/Fault/NoBinaAvail" />
        </operation>

        <operation name="returnBina">
            <input wsam:Action="http://ws.station.binas.org/Station/returnBinaRequest"
                message="tns:returnBina" />
            <output wsam:Action="http://ws.station.binas.org/Station/returnBinaResponse"
                message="tns:returnBinaResponse" />
            <fault message="tns:NoSlotAvail" name="NoSlotAvail"
                wsam:Action="http://ws.station.binas.org/Station/returnBina/Fault/NoSlotAvail" />
        </operation>

        <!-- test control operations -->
        <operation name="test_ping">
            <input wsam:Action="http://ws.station.binas.org/Station/test_ping_request"
                message="tns:test_ping" />
            <output wsam:Action="http://ws.station.binas.org/Station/test_ping_response"
                message="tns:test_ping_response" />
        </operation>

        <operation name="test_clear">
            <input wsam:Action="http://ws.station.binas.org/Station/test_clear_request"
                message="tns:test_clear" />
            <output wsam:Action="http://ws.station.binas.org/Station/test_clear_response"
                message="tns:test_clear_response" />
        </operation>

        <operation name="test_init">
            <input wsam:Action="http://ws.station.binas.org/Station/test_init_request"
                message="tns:test_init" />
            <output wsam:Action="http://ws.station.binas.org/Station/test_init_response"
                message="tns:test_init_response" />
            <fault message="tns:BadInit" name="BadInit"
                wsam:Action="http://ws.station.binas.org/Station/test_init/Fault/BadInit" />
        </operation>
    </portType>

    <!-- SOAP/HTTP Binding -->
    <binding name="StationPortBinding" type="tns:StationPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
            style="document" />

        <!-- main service operations -->
        <operation name="getInfo">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="getBina">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="NoBinaAvail">
                <soap:fault name="NoBinaAvail" use="literal" />
            </fault>
        </operation>

        <operation name="returnBina">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="NoSlotAvail">
                <soap:fault name="NoSlotAvail" use="literal" />
            </fault>
        </operation>

        <!-- test control operations -->
        <operation name="test_ping">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="test_clear">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="test_init">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadInit">
                <soap:fault name="BadInit" use="literal" />
            </fault>
        </operation>

    </binding>

    <!-- Service -->
    <service name="StationService">
        <port name="StationPort" binding="tns:StationPortBinding">
            <soap:address location="http://localhost:8081/station-ws/endpoint" />
        </port>
    </service>
</definitions>
